.main-loginDiv {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,196,229,0) 0%, rgba(209,0,255,1) 100%, rgba(9,254,132,1) 100%);
}

.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 275px;
    height: 275px;
}

h2 {
    position: absolute;
    top: 0;
}

.form-login {}

.user-box {
    margin: 0 0.2rem;
}

.password-box {
    margin: 0 0.2rem;
}

input {
    padding: 8px;
    margin: 1rem 0;
    border-radius: 10px;
}

.inputDiv {
    border: 0px;
}
.inputDiv:active,
.inputDiv:focus {
    outline: none;
}
.divButtonLogin {
    display: flex;
    align-items: center;
}

.button-login {
    margin: auto;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF00FF;
    outline: none;
    border: 0px;
}
.button-login:hover {
    background-color: #e600e6;
}